.expo/
dist/
ios/Pods/
ios/build/
ios/.xcode.env.local
ios/**/*.xcuserstate
ios/**/xcuserdata/
android/.gradle/
android/.kotlin/
android/local.properties
android/**/build/
android/app/.cxx/
android/app/debug.keystore
*.jks
*.keystore
*.p12
*.mobileprovision
build/
vendor/
